* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back {
    height: 100vh;
    width: 100%;
    background-color: #2C3F5F;
}
.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.menu, .star {
    height: 45px;
    width: 45px;
    background-color: #2C3F5F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: inset 0 0 2px rgb(0, 0, 0, 0.2),-3px -3px 10px rgb(72, 94, 131, 0.5), 3px 3px 10px rgb(0, 0, 0, 0.3);
}
.secbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar {
    height: 45px;
    width: 340px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #2C3F5F;
    box-shadow: inset 2px 2px 10px rgb(0, 0, 0, 0.8), inset -3px -2px 10px rgb(72, 94, 131);
}
button {
    height: 100%;
    width: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}
input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    color: white;
    background-color: #2C3F5F;
}
input::placeholder{
    color: white;
}
.container {
    position: relative;
    top: 20px;
    height: 100%;
    width: 100%;
    background-color: #ebeef1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.one, .two, .three {
    /* height: 180px; */
    width: 280px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: -2px -2px 10px 2px white, 3px 3px 10px rgb(0, 0, 0, 0.3);
    padding: 10px;
}
.wor {
    width: 100%;;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userword {
    font-size: 30px;
    color: #273855;
}
.pro {
    display: flex;
    flex-direction: column;
}
.pronun, .Ex, .so {
    font-size: 25px;
    color: #273855;
}
.playbox {
    position: relative;
    top: 10px;
    height: 30px;
    width: 100%;
    background-color: #273855;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    outline: none;
    border: none;
    margin-bottom: 20px;
}
.sour {
    display: flex;
    flex-direction: column;
}
a {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}
.npos, .vpos {
    margin: 7px;
}
.Ex {
    margin-bottom: 10px;
}
